/* Chat container styles */
.chat-container {
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

/* User List Styles */
.user-list {
    width: 25%;
    background-color: #87CEEB;
    padding: 20px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
}

.user-pic {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.user-item span {
    font-size: 16px;
    margin-left: 5px;
}

.online {
    color: #4CAF50;
    font-weight: normal;
    margin-left: 5px;
}

.offline {
    color: #D32F2F;
    font-weight: normal;
    margin-left: 5px;
}

.chat-box-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f4f4f4;
}

/* Chat Window Styles */
.chat-window {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-left: 1px solid #ccc;
    overflow-y: auto;
    padding: 10px;
}

#messages {
    flex: 1;
    list-style: none;
    padding: 10px;
    overflow-y: auto;
}

#messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#messages li.myMessage {
    background-color: #ffeb3b;
    color: #333;
    text-align: right;
    padding: 8px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

#messages li.otherUser {
    background-color: #81c784;
    color: #155724;
    padding: 8px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

#messages li.userJoined
#messages li.userLeft {
    background-color: #e0e0e0;
    color: #555;
    font-style: italic;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* Chat input styles */
.chat-input {
    display: flex;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
}

#entry {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-left: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#leave-button {
    background-color: red;
}

#leave-button:hover {
    background-color: darkred;
}